{% load cloudinary %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Your Website Title{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <style>
        body {
            background-image: url();
            background-size: cover;
            background-attachment: fixed;
        }
        /* Add any custom styles here */
    </style>
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <h2>A1 <em>Tech</em></h2>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <!-- Include the links from your first template here -->
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-person-circle" viewBox="0 0 16 16">
                                    <path
                                        d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                    <path fill-rule="evenodd"
                                          d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                                </svg>
                                Hi, {{user.username}}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="cart">My Cart
                                <span class="badge badge-light">
                                    {{request.session.cart.keys|length}}
                                </span>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                All
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/products?categorie=10">All</a>
                                {% for categorie in categories %}
                                <a class="dropdown-item"
                                   href="/products?categorie={{categorie.id}}">{{categorie.name}}</a>
                                {% endfor %}
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Log out</a>
                        </li>
                        {% endif %}
                        
                        {% if user.is_authenticated and user.is_staff %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'admin:index' %}">Admin Panel</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    

<!-- Banner Section -->
<section class="banner" style="background-image: url({% static 'assets/images/about-heading.jpg' %});">
    <div class="banner-content text-center text-white py-5">
        <h1>Welcome to A-Tech Store</h1>
        <p class="mb-4">Find the best deals on a wide range of products!</p>
        <a href="#" class="btn btn-primary">Shop Now</a>
    </div>
</section>

<div class="latest-products py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2 class="mb-4">Latest Products</h2>
                    <a href="#" class="text-dark">View all products <i class="fa fa-angle-right"></i></a>
                </div>
            </div>

            {% for product in products %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ product.image_url.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">${{ product.price }}0</p>
                        <p class="card-text">{{ product.description }}</p>
                        <p class="card-text">Total in Stock: {{ product.stock }}</p>
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star text-warning"></i></li>
                        </ul>
                        <form action="/products/#{{ product.id }}" method="post" class="mb-2">
                            {% csrf_token %}
                            <input type="text" value="{{ product.id }}" hidden name="product">
                            <button type="submit" class="btn btn-sm btn-outline-primary"><i class="fa fa-cart-plus"></i> Add to Cart</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<footer class="bg-dark text-white py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="mb-0">Copyright &copy; A1-Tech Store. Developed by <a href="https://edigitalnetwork.tech" target="_blank" class="text-warning">E-Digital Network</a>.</p>
            </div>
        </div>
    </div>
</footer>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
