{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}A1 Tech Store{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <style>
        body {
            background-image: url();
            background-size: cover;
            background-attachment: fixed;
        }
        /* Add any custom styles here */
    </style>
</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
             <a class="navbar-brand" href="#">
                <h2 style="color: rgb(34, 0, 184); font-weight: bold;">A1 <em style="color: #ffd000;">Tech</em></h2>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>

                    <!-- Include the links from your first template here -->
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Log out</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/products">Products</a>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link">Hi, {{user.username}}</span>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Sign up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Sign in</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>

<!-- Banner Section -->
<section class="banner" style="background-image: url(https://res.cloudinary.com/dfueppsdg/image/upload/v1713141266/maxima-solar-banner_q4ayeu.jpg);">
    <div class="banner-content text-center text-white py-5">
        <h1>Welcome to A-Tech Store</h1>
        <p class="mb-4">Find the best deals on a wide range of products!</p>
        <a href="#latest-products py-5" class="btn btn-primary" style="background-color:#ffd000; color:blue;">Shop Now</a>
    </div>
</section>

<div class="latest-products py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="https://res.cloudinary.com/dfueppsdg/image/upload/v1713132326/1_yoolxm.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Wireless Security Camera</h5>
                        <p class="card-text">$39.00</p>
                        <p class="card-text">A wireless security camera bulb is a smart home device that combines the functionality of
                            a security camera with that of a light bulb. It typically screws into a standard light
                            socket and connects to your home's Wi-Fi network, allowing you to monitor your space
                            remotely through a smartphone app.</p>
                        <a href="{% url 'accounts_login' %}" class="btn btn-block btn-outline-primary">
                            <i class="fa fa-shopping-cart"></i> Add to Cart
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <img src="https://res.cloudinary.com/dfueppsdg/image/upload/v1713132472/5_fwhghw.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">4G Wifi Camera</h5>
                        <p class="card-text">$60.00</p>
                        <p class="card-text">A 4G WiFi camera operates similarly to a wireless security camera bulb in terms of
                            functionality but utilizes a 4G cellular network connection instead of relying solely on
                            WiFi. This means it can function independently of your home's WiFi network, making it
                            suitable for locations where WiFi coverage is weak or non-existent.</p>
                        <a href="{% url 'accounts_login' %}" class="btn btn-block btn-outline-primary">
                            <i class="fa fa-shopping-cart"></i> Add to Cart
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <img src="https://res.cloudinary.com/dfueppsdg/image/upload/v1713132540/4_coqjqd.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">WIFI</h5>
                        <p class="card-text">$50.00</p>
                        <p class="card-text">The WiFi device typically connects to a cellular network (like 4G or 5G) or a wired
                            internet connection (such as DSL or cable) to provide internet access. Once connected,
                            it creates a local WiFi network that your devices can connect to, enabling them to
                            access the internet.</p>
                            <a href="{% url 'accounts_login' %}" class="btn btn-block btn-outline-primary">
                                <i class="fas fa-shopping-cart"></i> Add to Cart
                            </a>                            
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="bg-dark text-white py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner-content text-center">
                    <p class="mb-0">Copyright &copy; A1-Tech Store. Developed by <a href="https://edigitalnetwork.tech"
                                                                                      target="_blank" style="color: gold;">E-Digital Network</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
